{% extends 'navbar.html' %}
{% block content %}
<div class="container">
    {% include 'includes/_messages.html' %}
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="/home/reminder">
                <div class="form-group">
                    <label>Date</label>
                    <input type="date" name="date" class="form-control">
                </div>
                <div class="form-group">
                    <label>Subject</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="subject">
                        <option value="Event">EVENT</option>
                        <option value="Birthday">BIRTHDAY</option>
                        <option value="Aniversary">ANIVERSARY</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Reminders</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="reminders">
                        <option selected>Select from Here</option>
                        {% for data in data %}
	                        <option value="{{data.DESCRIPTION}}">{{data.SUBJECT}} - {{data.DESCRIPTION[0:5]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" class="btn btn-success" value="Search" name="search">
            </form>
            <form method="POST" action="/home/reminder/delete">
                {% for data in value %}
    	            <div class="form-group">
        	            <label>Description</label>
            	        <input type="text" name="description" class="form-control" readonly="true" value="{{data.DATE}},{{data.SUBJECT}},{{data.DESCRIPTION}}">
                	</div>
                	<span><button type="submit" class="btn btn-warning" name="delete">Delete</button></span>
				{% endfor %}
            </form>
        </div>
        <div class="col-md-4">
            {% for data in value %}
				<form method="POST" action="/home/reminder/modify">
					<h3>Modify searched Reminder</h3>
					<input type="hidden" value="{{data.RECUR_NEXT}}" name="id">
					<div class="form-group mx-sm-3 mb-2">
						<input type="text" class="form-control" name="add_description" placeholder="Update Description" value="">
					</div>
					<div class="form-group mx-sm-3 mb-2">
						<input type="text" class="form-control" name="add_contact" placeholder="Update Contact (Email/Phone)" value="">
					</div>
					<div class="form-group mx-sm-3 mb-2">
						<label>Recur for Next:</label>
						<br>
						<div class="custom-control custom-checkbox mb-3 custom-control-inline">
							<input type="checkbox" class="custom-control-input" id="customControlValidation1" name="recur7" value="7">
							<label class="custom-control-label" for="customControlValidation1">7 days</label>
						</div>
						<div class="custom-control custom-checkbox mb-3 custom-control-inline">
							<input type="checkbox" class="custom-control-input" id="customControlValidation2" name="recur5" value="5">
							<label class="custom-control-label" for="customControlValidation2">5 days</label>
						</div>
						<div class="custom-control custom-checkbox mb-3 custom-control-inline">
							<input type="checkbox" class="custom-control-input" id="customControlValidation3" name="recur3" value="3">
							<label class="custom-control-label" for="customControlValidation3">3 days</label>
						</div>
						<div class="custom-control custom-checkbox mb-3 custom-control-inline">
							<input type="checkbox" class="custom-control-input" id="customControlValidation4" name="recur2" value="2">
							<label class="custom-control-label" for="customControlValidation4">2 days</label>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Modify</button>
				</form>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}